* {
  margin: 0;
  padding: 0;
}

#content {
  margin: 0 auto;
  width: 900px;
  /*background-color: orange*/
}

#gameboard {
  /*background-color: red*/
}

header {
  width: 100%;
  height: 40px;
}

h1 {
  float: left;
}

h2 {
  float: right;
}

.cell {
  width: 15px;
  height: 15px;
  margin-right: 3px;
  display: inline-block;
  background-color: #ddd;
}

.food {
  background-color: blue;
}

.snake {
  background-color: red;
}