#content {
  width: 500px;
  /*background-color: green;*/
  margin: 0 auto;

  text-align: center;
}

#image-selectors a {
  width: 12px;
  height: 12px;
  border-radius: 8px;
  border: 2px solid blue;
  margin: 0 10px;
  display: inline-block;
}

.selected {
  background-color: #3d91ff;
}

img {
  -webkit-transition: visibility 0.5s linear;
  -moz-transition: visibility 0.5s linear;
  -o-transition: visibility 0.5s linear;
  transition: visibility 0.5s linear;
}

/*
img {
  display: inline-block;
  max-width: 400px;
  mar-height: 300px;
  width: auto;
  height: auto;

}*/